/************************************************/
/*                                              */
/*    GoodWill Pet Hospital Theme Overrides     */
/*                                              */
/************************************************/

/*-----------------------------
           Background
------------------------------*/

.login-portal.layout {
    background: #ffffff;
}

/*-----------------------------
          Login Box
------------------------------*/

.login-portal.layout .center-segment>.ui.container>.ui.segment {
    background: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg);
    background-size: cover;
}
