/************************************************/
/*                                              */
/*    GoodWill Pet Hospital Theme Overrides     */
/*                                              */
/************************************************/

/*-----------------------------
           Background
------------------------------*/

.login-portal.layout {
    background: #ffffff;
}

/*-----------------------------
          Login Box
------------------------------*/

.login-portal.layout .center-segment>.ui.container>.ui.segment {
    background: url(https://cdn.statically.io/gh/brionmario/asgardeo-branding/3a34d84…/organizations/goodwillpethospital/images/login-background-overlay.jpg);
    background-size: cover;
}
